<extend name="Public/base"/>
//引入表头内容
<block name="header">
    <include file="Public/header"/>
</block>

<block name="sidebar">
    <include file="Public/sidebar" nav="update"/>
</block>
<block name="main">
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}">首页</a></li>
        <li>上传更新</li>
    </ol>
    <div class="box">
        <div class="box-inner">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <volist name="one" id="one">
                                    <td>{$one.name}-{$one.click}</td>
                                </volist>
                            </tr>
                            <tr>
                                <volist name="two" id="two">
                                    <td>{$two.name}-{$two.click}</td>
                                </volist>
                            </tr>
                            <tr>
                                <volist name="three" id="three">
                                    <td>{$three.name}-{$three.click}</td>
                                </volist>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="box">
        <div class="heading">
          <h3 class="title" style="width: 80%">上传新内容</h3>
            <button type="button" class="btn btn-primary btn-info" style="float: right;margin: -44px 30px 0 0;" data-toggle="modal"
                    data-target="#myModal" data="{:U('Admin/User/question')}">上传轮播图
            </button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <form class="form-horizontal" action="{:U('Admin/Modify/update')}" onsubmit="return $.sub(this);" method="post" role="form" style="width: 90%;padding-top: 20px">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="formGroupInputDefault">标题</label>
                        <div class="col-sm-6">
                            <input type="hidden" value="" name="btn_id" id="btn_id">
                            <input name="name" class="form-control" type="text" id="formGroupInputDefault" placeholder="不要超过六个字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="formGroupInputSmall">副标题</label>
                        <div class="col-sm-6">
                            <input name="briefing" class="form-control" type="text" id="formGroupInputSmall" placeholder="描述标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="formGroupInputSmall">链接</label>
                        <div class="col-sm-6">
                            <input name="aurl" class="form-control" type="text" placeholder="游戏链接">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="formGroupInputSmall">图片链接</label>
                        <div class="col-sm-6">
                            <input name="imgurl" class="form-control" type="text" placeholder="七牛图片则输入，上传图片忽略此栏">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="ico-file-2">上传图标</label>
                        <input type="hidden" name="new_img" value="" class="type" id="new_img">
                        <div class="col-sm-10">
                            <div>
                                <button type="button" class="btn btn-success">
                                    <i class="glyphicon glyphicon-open">选择要上传的图标</i>
                                </button>
                            </div>
                            <input type="file" class=" btn-lg" style="width: 190px;height:40px; position: absolute;top:-6px;left: -4px;opacity: 0; filter:alpha(opacity=0)" name="ico" onchange="uploadFile('{:U('Admin/Adjust/image')}','ico-file-2','new_img');" id="ico-file-2">
                            <p class="help-block" style="color: #c7254e">请上传正方型的图标！</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">上传位置</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-2">
                                    <select name="sorts" class=" form-control">
                                        <option selected value="4">装逼</option>
                                        <option value="5">搞怪</option>
                                        <option value="6">证书</option>
                                        <option value="7">测试</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select name="flag" class=" form-control">
                                        <option selected="true" disabled="true" value="">上传首页</option>
                                        <option value="1">第一行</option>
                                        <option value="2">第二行</option>
                                        <option value="3">第三行</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <select name="number" class=" form-control">
                                        <option selected value="1">排序1</option>
                                        <option value="2">排序2</option>
                                        <option value="3">排序3</option>
                                        <option value="4">排序4</option>
                                    </select>
                                </div>

                            </div>
                            <p class="help-block" style="color: #c7254e">‘上传首页’选择行数则展示在首页，不选则显示在分类列表！</p>
                        </div>
                    </div>

                    <div>
                        <div class="col-sm-2"></div>
                        <button type="submit" class="btn btn-default btn-lg">确定更新</button>
                    </div>

                </form>
            </div>
        </div>


    </div>

    <!-- 首页轮播图弹出框Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">更改密码</h4>
                </div>
                <form class="form-horizontal" action="{:U('Admin/Modify/banner')}" onsubmit="return $.sub(this);" method="post" role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="a_url">游戏链接</label>
                            <div class="col-sm-10">
                                <input name="a_url" class="form-control" type="text" id="a_url" placeholder="请填写游戏链接">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="img_url">图片链接</label>
                            <div class="col-sm-10">

                                <input name="img_url"  class="form-control" type="text" id="img_url" placeholder="图片地址,上传图片则忽略此栏">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="question">排序</label>
                            <div class="col-sm-10">
                                <select name="new_sorts" id="" class="form-control">
                                    <option id="question" value="1">排序1</option>
                                    <option value="2">排序2</option>
                                    <option value="3">排序3</option>
                                    <option value="4">排序4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="ico-file-3">上传图标</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="image" value="" class="type" id="banner_img">
                            <div>
                                <button type="button" class="btn btn-success">
                                    <i class="glyphicon glyphicon-open">选择要上传的图标</i>
                                </button>
                            </div>
                            <input style="width: 190px;height:40px; position: absolute;top:-6px;left: -4px;opacity: 0; filter:alpha(opacity=0)" class="btn-lg" name="banner" type="file" onchange="uploadFile('{:U('Admin/Adjust/image')}','ico-file-3','banner_img');" id="ico-file-3" >
                            <p class="help-block" style="color: #c7254e">请上传700*230图片</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>