 <aside class="sidebar-menu">
        <div class="separator-50"></div>

        <ul class="menu-list">
            <li <if condition="[nav] eq 'index'">class="menu-item actived"<else />class="menu-item"</if>>
                <a href="{:U('Admin/index/index')}"><i class="fa fa-home" aria-hidden="true"></i>首页</a>
            </li>
            <li class="separator-20"></li>
            <li <if condition="[nav] eq 'update'">class="menu-item actived"<else />class="menu-item"</if>>
                <a href="javascript:void(0)"><i class="fa fa-cube" aria-hidden="true"></i>首页更新</a>
                <ul class="sub-menu-list">
                    <li class="sub-menu-item"><a href="{:U('Admin/Modify/index')}">上传新内容</a></li>
                    <li class="sub-menu-item"><a href="{:U('Admin/Adjust/index')}">调整首页</a></li>
                </ul>
            </li>
            <li <if condition="[nav] eq 'sorts'">class="menu-item actived"<else />class="menu-item"</if>>
                <a href="javascript:void(0)"><i class="glyphicon glyphicon-th" aria-hidden="true"></i>分类管理</a>
                <ul class="sub-menu-list">
                    <li class="sub-menu-item"><a href="#">排序</a></li>
                    <li class="sub-menu-item"><a href="#">上首页</a></li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="javascript:void(0)"><i class="fa fa-tag" aria-hidden="true"></i>预留页面 <span class="badge">4</span></a>
                <ul class="sub-menu-list">
                    <li class="sub-menu-item"><a href="#">空白页面</a></li>
                    <li class="sub-menu-item"><a href="#">登录页面</a></li>
                    <li class="sub-menu-item"><a href="#">跳转页面</a></li>
                    <li class="sub-menu-item"><a href="#">404页面</a></li>
                </ul>
            </li>
            <li <if condition="[nav] eq 'admin'">class="menu-item actived"<else />class="menu-item"</if>>
                <a href="javascript:void(0)"><i class="glyphicon glyphicon-user" aria-hidden="true"></i>管理员</a>
                <ul class="sub-menu-list">
                    <li class="sub-menu-item"><a href="{:U('Admin/User/index')}">设置</a></li>
                    <!--<li class="sub-menu-item"><a href="#"></a></li>-->
                </ul>
            </li>

            <li class="separator-30"></li>
            <li class="menu-item">
                <a href="{:U('Admin/Login/logout')}"><i class="fa fa-sign-out" aria-hidden="true"></i>安全退出</a>
            </li>

        </ul>
    </aside>
