<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">
<head>
    <meta charset="UTF-8">
    <title>热门分享</title>
    <link rel="stylesheet" href="assets/css/amazeui.css">
    <!--<link rel="stylesheet" href="assets/css/app.css">-->
    <link rel="stylesheet" href="assets/css/list-new.css">
    <link rel="stylesheet" href="assets/css/dropload.css">
</head>
<body>
<div class="tab nav_scroll fixed">
    <a href="javascript:;" class="item cur">装逼</a>
    <a href="javascript:;" class="item">搞怪</a>
    <a href="javascript:;" class="item">证书</a>
    <a href="javascript:;" class="item">测试</a>
</div>
<div style="top: 44px;" class="content">
    <div class="lists"></div>
    <div class="lists"></div>
    <div class="lists"></div>
    <div class="lists"></div>
</div>
<!-- jQuery1.7以上 或者 Zepto 二选一，不要同时都引用 -->
<script src="assets/js/jquery-2.2.3.min.js"></script>
<script src="assets/js/dropload.js"></script>
<script src="assets/js/loadinglist.js"></script>

</body>
</html>