<extend name="Public/base"/>
//引入表头内容
<block name="header">
    <include file="Public/header"/>
</block>

<block name="sidebar">
    <include file="Public/sidebar" nav="sorts"/>
</block>
<block name="main">
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}">首页</a></li>
        <li class="active">列表</li>
    </ol>
    <div class="box" id="list"><!--这里的list和下面js中的要一致-->
        <table  class="table table-bordered table-responsive table-hover">
            <thead>
            <td>名字</td>
            <td>副标题</td>
            <td>链接</td>
            <td>图片链接</td>
            <td>分类序号</td>
            <td>操作</td>
            </thead>

            <volist name="list" id="list">
                <tr>
                    <td>{$list.name}</td>
                    <td>{$list.briefing}</td>
                    <td>{$list.aurl}</td>
                    <td><img src="{$list.imgurl}" style="width:32px;height:32px;"></td>
                    <td>{$list.flag}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-link" data-toggle="modal"
                        data-target="#ModifyModal" data="{:U('Admin/User/question')}">上架
                        </button>
                    </td>
                </tr>
            </volist>
        </table>
            <!--分页输出-->
        <div class="page">
           {$page}
        </div>

    </div>
    <!-- 编辑弹出框Modal -->
    <div class="modal fade" id="ModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">上新首页</h4>
                </div>
                <form class="form-horizontal" action="{:U('Admin/Sorts/modify')}" onsubmit="return $.sub(this);" method="post" role="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <select name="row" class=" form-control">
                                        <option selected value="1">第一行</option>
                                        <option value="2">第二行</option>
                                        <option value="3">第三行</option>
                                        <option value="4">第四行</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select name="sorts" class=" form-control">
                                        <option selected value="1">排序1</option>
                                        <option value="2">排序2</option>
                                        <option value="3">排序3</option>
                                        <option value="4">排序4</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
